---
title: Le Wagon 2-hour profile workshop
---

<%= partial "components/banner" %>


<div class="container-fluid readme">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">

      <section class="readme-section">
        <h2 class="readme-header">1.Let's set up</h2>
        <ol>
          <li>Start Sublime Text. It will open a new black window.</li>
          <li>Create a <strong>folder</strong> <code>landing</code> on your Desktop. Drag & drop this folder in the Sublime Text window.</li>
          <li>
            In Sublime Text left navigation:
            <ul>
              <li>Right click <strong>"New file"</strong></li>
              <li>Save it as <code>index.html</code> with <strong>Cmd + S</strong> or <strong>Ctrl + S</strong></li>
              <li>Do the same to create a <code>style.css</code> file</li>
              <li>Then <strong>"New Folder"</strong> and create an <code>images</code> folder</li>
            </ul>
            </ul>
          </li>
          <li>Finally double click on <code>index.html</code> to open it with Chrome</li>
        </ol>

        <img src='images/setup.png' width="100%"/>
      </section>

      <section class="readme-section">
        <h2 class="readme-header">2. Add some HTML content</h2>
        <ul>
          <li>
            To save time, just right-click on the following images and save them in your <code>images</code> folder
            <ul class="list-inline">
              <li><img src="images/proud_coder.svg" alt="" width="100"></li>
              <li><img src="images/conference_call.svg" alt="" width="100"></li>
              <li><img src="images/teacher.svg" alt="" width="100"></li>
            </ul>
          </li>
          <li>Then start with this HTML code in <code>index.html</code></li>
        </ul>
<% code("html") do %>
<html>
  <head>
    <meta charset="utf-8">
    <title>My super profile page</title>
  </head>
  <body>
    <h1>Bonjour, je m'appelle ...... 👋🏼</h1>
    <p>décris toi en quelques mots</p>
    <p>
      <a href="#">Mon portfolio 📓</a>
    </p>

    <img src="images/proud_coder.svg" alt="picture description" width="100">
    <h3>Coder</h3>

    <img src="images/conference_call.svg" alt="picture description" width="100">
    <h3>Vidéo conférencer</h3>

    <img src="images/teacher.svg" alt="picture description" width="100">
    <h3>Enseigner</h3>

    <p>Ceci est un site réalisé avec ❤️ et Le Wagon Nantes</p>
  </body>
</html>
<% end %>
        <h3>Extra - find nice personal icons</h3>
        <ul>
          <li>You can pick your icons on <a href="https://iconstore.co/" target="_blank">IconStore</a>, <a href="https://thenounproject.com/" target="_blank">The Noun Project</a> or <a href="https://nucleoapp.com/premium-icons/" target="_blank">NucleoApp</a> (they have a free pack).</li>
          <li><strong>Tips</strong>: Also stay tuned checking <a href="https://www.producthunt.com/search?q=icons" target="_blank">icon resources on Product Hunt</a> or Emoji on <a href="https://emojipedia.org/" target="_blank">Emijipedia</a></li>
        </ul>
      </section>

      <section class="readme-section">
        <h2 class="readme-header">3. CSS for fonts & colors</h2>
        <p>Link your stylesheet <code>style.css</code> in the <code>head</code> section of your HTML</p>


<% code("html") do %>
<head>
  <link href='style.css' rel='stylesheet'>
</head>
<% end %>
        <p>Then copy/paste the CSS code below in <code>style.css</code> and <strong>fix it</strong> cause it's ugly</p>
        <ul>
          <li>For fonts use <a href="https://www.google.com/fonts" target="_blank">Google Fonts</a></li>
          <li>For colors use <a href="http://www.colorzilla.com/chrome/" target="_blank">Colorzilla Chrome plugin</a> to pick colors from other websites</li>
          <li>You can also find nice colors on <a href="https://coolors.co/" target="_blank">Coolors</a> or <a href="https://colorhunt.co/" target="_blank">Color Hunt</a></li>
        </ul>
<% code("css") do %>
/* style.css */
body{
  background: rgb(248,248,248);
  color: green;
  margin: 0px;
  font-size: 25px;
  font-family: Helvetica;
}

h1{
  font-family: Courier;
  color: red;
  font-weight: lighter;
  font-size: 10px;
}

h2 {
  font-family: Courier;
  color: pink;
  font-weight: lighter;
  font-size: 8px;
}

a {
  color: yellow;
}

a:hover {
  text-decoration: none;
  color: purple;
}
<% end %>
      </section>
      <section class="readme-section">
        <h2 class="readme-header">4. Wrap with <code>div</code></h2>
        <p>Wrap different sections in different <code>div</code></p>

<% code("html") do %>
<div>
  <h1>Bonjour, je m'appelle ...... 👋🏼</h1>
  <p>décris toi en quelques mots</p>
  <p>
    <a href="#">Mon portfolio 📓</a>
  </p>
</div>

<div>
  <img src="images/proud_coder.svg" alt="picture description" width="100">
  <h3>Coder</h3>
</div>

<div>
  <img src="images/conference_call.svg" alt="picture description" width="100">
  <h3>Vidéo conférencer</h3>
</div>

<div>
  <img src="images/teacher.svg" alt="picture description" width="100">
  <h3>Enseigner</h3>
</div>

<div>
  <p>Ceci est un site réalisé avec ❤️ et Le Wagon Nantes</p>
</div>
<% end %>

      </section>
      <section class="readme-section">
        <h2 class="readme-header">5. Name your tags</h2>
        <ul>
          <li>Name your banner and footer with <code>id</code> like <code>&lt;div id="banner"&gt;</code> and <code>&lt;div id="footer"&gt;</code></li>
          <li>Name your features with <code>class</code> like <code>&lt;div class="card"&gt;</code>and <code>&lt;a class="btn"&gt;</code></li>
          <li>Then add this nice CSS code</li>
        </ul>
<% code("css") do %>
#banner {
  text-align: center;
  background-image: url("https://unsplash.it/1300/600?random");
  background-size: cover;
  padding: 150px;
  color: white;
}

#banner img {
  border: 5px solid white;
}

#banner h1 {
  color: white;
  font-size: 50px;
  text-shadow: 3px 3px #F18805;
}

#banner p {
  color: white;
  opacity: 0.8;
  font-size: 30px;
  font-weight: lighter;
}

.btn {
  text-decoration: none;
  color: white;
  background-color: #F18805;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11);
  padding: 15px 20px;
}

.btn:hover {
  background-color: #613F75;
  opacity: 0.8;
  color: white;
  border: 2px solid white;
}

.card {
  padding: 50px;
  font-weight: lighter;
}

#footer {
  margin-top: 15px;
  padding: 10px 30px;
  background: rgb(30, 30, 30);
  color: lightgrey;
}
<% end %>

<h3>Extra - find a cool background image</h3>
<ul>
  <li>You can pick your background picture on <a href="https://www.pexels.com/" target="_blank">Pexels</a> or <a href="https://picsum.photos/images" target="_blank">Picsum</a></li>
</ul>
      </section>

      <section class="readme-section">
        <h2 class="readme-header">6. CSS grid</h2>
        <p>A bit of <code>html</code>and of <code>css</code>!</p>
        <p>Let's add a <code>&lt;div class="cards"&gt;</code> around our boxes <code>.card-white</code></p>

<% code("html") do %>
<div class="cards">
  <div class="card">
  </div>
  <div class="card">
  </div>
  <div class="card">
  </div>
</div>
<% end %>
          <p>With a bit of CSS style</p>
<% code("css") do %>
.cards {
  margin: 15px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  width: 1000px;
}
<% end %>

      </section>
      <section class="readme-section">
        <h2 class="readme-header">7. RESPONSIVE</h2>
          <p>Let's add media queries in our <code>css</code> to <strong>add responsiveness</strong></p>
<% code("css") do %>
@media(max-width: 992px){
  .cards{
  width: 750px;
  }
}
@media(max-width: 768px){
  .cards{
  width: 90%;
  grid-template-columns: 1fr;
  }
}
<% end %>
      </section>
      </section>
      <section class="readme-section">
        <h2 class="readme-header">8.GITHUB PAGES</h2>
          <p>Just follow the process <a href="https://pages.github.com/">Github Pages</a> or with <a href="https://pedrolane.github.io/cv/to_go/2h_profile.pdf">our slides</a></p>
        <p>Your first web page is now online 🚀 <strong>Congrats !</strong> </p>
      </section>
    </div>
  </div>
</div>
